<div class="nav-container">
  <div class="nav-content">
    <div class="nav-links">
      <%# Logic for active class could be added here %>
      <%= link_to t(:nav_home), root_path %>
      <%= link_to t(:nav_portfolio), root_path(anchor: "portfolio") %>
      <%= link_to t(:nav_about), about_path %>
    </div>

    <div class="end-buttons">
      <%= link_to t(:contact_button), root_path(anchor: "contact-me"), class: "contact-btn" %>
      
      <%# Locale Switcher - Modified for Static Export Support %>
      <% is_en = I18n.locale.to_s == "en" %>
      <% target_locale = is_en ? "pt-BR" : "en" %>
      <%
        if Rails.env.production?
          # For static export, we link to /en/path or /pt-BR/path
          path_prefix = request.path == "/" ? "" : request.path
          target_path = "/#{target_locale}#{path_prefix}"
        else
          # In development, use query parameter for locale
          target_path = url_for(locale: target_locale)
        end
      %>
      <%= link_to target_path, class: "locale-btn" do %>
        <% if is_en %>
          <%= image_tag "us.svg", width: 35, alt: "English" %>
        <% else %>
          <%= image_tag "br.svg", width: 35, alt: "Português" %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="sidemenu">
    <%# Mobile menu placeholder %>
    <details>
      <summary><i class="icon-menu"></i></summary>
      <ul>
        <li><%= link_to t(:nav_home), root_path %></li>
        <li><%= link_to t(:nav_portfolio), root_path(anchor: "portfolio") %></li>
        <li><%= link_to t(:nav_about), about_path %></li>
        <li><%= link_to t(:contact_button), root_path(anchor: "contact-me") %></li>
      </ul>
    </details>
  </div>
</div>