<section id="introduction">
  <div class="introduction-container">
    <div class="introduction-text">
      <h1>
        <%= t(:introduction_title_1) %><br />
        <%= t(:introduction_title_2) %><br />
        <%= t(:introduction_title_3) %>
      </h1>
      <p>
        <%= t(:introduction_text_1) %> <br />
        <%= t(:introduction_text_2) %> <br />
        <%= t(:introduction_text_3) %>
      </p>
      <%= link_to t(:contact_button), "#contact-me", class: "contact-button" %>
    </div>

    <%= image_tag "introduction-image.svg", alt: "Foto de apresentação", class: "img" %>
  </div>
</section>
